* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
}

.my-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
  scrollbar-width: none;
}

.my-container::-webkit-scrollbar {
  display: none;
}

#onboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: url("./Assets/BG1.png") no-repeat center center/cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-animation: 1.5s ease-in backgroundAnimation;
          animation: 1.5s ease-in backgroundAnimation;
  scroll-snap-align: start;
}

#onboardImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#onboardImg {
  width: 15%;
  height: auto;
  padding-bottom: 20pt;
}

#onboardImgText {
  width: 40%;
  height: auto;
}

#continue {
  background: none;
  border: none;
  padding: 0.5rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 100;
  cursor: pointer;
  text-decoration: none;
}

#continueLine {
  height: 1px;
  width: 100%;
  background-color: white;
  opacity: 90%;
}

#details {
  height: 100vh;
  background: url("./Assets/BG2.png") no-repeat center center/cover;
  background-attachment: fixed;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5vw;
}

#top-bar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#top-bar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#top-bar-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-bar-icon-1 {
  height: 2.5vw;
  width: auto;
  margin-right: 1vw;
}

#top-bar-icon-2 {
  height: 2vw;
  width: auto;
}

#more-info {
  background-color: white;
  border: none;
  border-radius: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vh;
  margin-right: 3px;
  cursor: pointer;
}

#more-info:hover {
  color: rgba(0, 0, 0, 0.7);
}

#circle {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  border: 5px solid;
  background: none;
}

#more-info-text {
  font-weight: 600;
  margin-left: 5px;
}

#main-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.carousel-item {
  height: 80vh;
}

.testImage {
  height: 50vh;
  width: auto;
}

.planet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80vh;
  width: 100%;
}

.planet-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.planet-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3vh;
  color: white;
  padding: 30px;
}

@-webkit-keyframes backgroundAnimation {
  0% {
    -webkit-filter: brightness(5%);
            filter: brightness(5%);
  }
  100% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes backgroundAnimation {
  0% {
    -webkit-filter: brightness(5%);
            filter: brightness(5%);
  }
  100% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@media screen and (max-width: 830px) {
  #continue {
    font-size: 1.5rem;
    font-weight: 100;
  }
  #onboardImg {
    width: 40%;
    height: auto;
  }
  #onboardImgText {
    width: 70%;
    height: auto;
  }
  #top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5vw;
  }
  #top-bar-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 1vw;
  }
  #top-bar-icon-1 {
    height: 6vw;
    width: auto;
    margin-right: 1vw;
  }
  #top-bar-icon-2 {
    height: 5vw;
    width: auto;
  }
  #top-bar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #more-info {
    background-color: white;
    border: none;
    border-radius: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1vh;
    margin-right: 3px;
    cursor: pointer;
    width: 80vw;
    margin: 5vw;
  }
  #circle {
    display: none;
  }
  .planet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .planet-details {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  ul {
    list-style: none;
    padding: 0 !important;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
/*# sourceMappingURL=main.css.map */