    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    $path-bg1:'./Assets/BG1.png';
    #onboard {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100vh;
        background: url($path-bg1) no-repeat center center/cover;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        animation: 1.5s ease-in backgroundAnimation;
    }
    
    #onboardImages {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #onboardImg {
        width: 15%;
        height: auto;
        padding-bottom: 20pt;
    }
    
    #onboardImgText {
        width: 40%;
        height: auto;
    }
    
    #continue {
        background: none;
        border: none;
        padding: 0.5rem;
        color: white;
        font-size: 1.8rem;
        font-weight: 100;
        cursor: pointer;
    }
    
    #continueLine {
        height: 1px;
        width: 100%;
        background-color: white;
        opacity: 90%;
    }
    
    //Animations
    @keyframes backgroundAnimation {
        0% {
            filter: brightness(5%)
        }
        100% {
            filter: brightness(100%);
        }
    }